<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/imdb.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/register" method="post">
<div>
    <legend> Registration </legend>
    <% { %>
        name: <input type="text" placeholder="First and last name" name="name"/><br><br>
        email:<input type="email" name="email" value="dre@test.com" /><br><br>
        password:<input type="password" placeholder="at least 8 characters" minlength="8" maxlength="25" name="password" value="secretpassword" /><br><br>
        Re-enter password:<input type="password" name = "repassword" value = "secretpassword" /> <br><br>
    <% } %>
</div>
<input type="submit" value="Create your IMDb account">

</form>     
<link rel="stylesheet" href="/Users/corcoding/workspace/registration/public/imdb.css">

</body>
</html>





