<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/imdb.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div class="imgContainer" src="" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/2560px-IMDB_Logo_2016.svg.png" alt="logo"> </div>
<form class="container" action="/register" method="post">
<div class="form">
    <legend> Create account </legend>
    <% { %>
        <div class="name">
        Your name <input type="text" placeholder="First and last name" name="name"/><br><br></div>
        <div class="email">
        Email <input type="email" name="email" value="" /><br><br></div>
        <div class="password">
        Password <input type="password" placeholder="at least 8 characters" minlength="8" maxlength="25" name="password" value="" /><br><br><p class="passConstraint">Passwords must be at least 8 characters.</p></div>
        <div class="password2">
        Re-enter password <input type="password" name = "Re-enter Password" value = "" /> <br><br></div>
    <% } %>
    <button onclick="">Create your IMDb account</button>
    <div class="line"></div>
    <p>Already have an account? <a href="imdb.com/ap/signin?openid.return_to=https%3A%2F%2Fwww.imdb.com%2Fregistration%2Fap-signin-handler%2Fimdb_us&prevRID=SXJ7V1H521NGZTQ2GRCW&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.assoc_handle=imdb_us&openid.mode=checkid_setup&siteState=eyJvcGVuaWQuYXNzb2NfaGFuZGxlIjoiaW1kYl91cyIsInJlZGlyZWN0VG8iOiJodHRwczovL3d3dy5pbWRiLmNvbS8_cmVmXz1sb2dpbiJ9&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&pageId=imdb_us&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&timestamp=1693581772000">Sign in</a></p>
</div>
<!-- <input type="submit" value="Create your IMDb account"> -->

</form> 
</div>    
</body>
</html>





